---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1>All Recipes</h1>

  <div class="list-group">
    <a href="/recipes/pasta" class="list-group-item list-group-item-action">
      Pasta
    </a>

    <a href="/recipes/curry" class="list-group-item list-group-item-action">
      Pizza
    </a>

    <a href="/recipes/salad" class="list-group-item list-group-item-action">
      Fresh Salad
    </a>
  </div>
</Layout>