---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1>Fresh Salad</h1>
  <p>A healthy and refreshing salad recipe.</p>

  <h3>Ingredients</h3>
  <ul>
    <li>Lettuce</li>
    <li>Tomatoes</li>
    <li>Cucumber</li>
    <li>Olive oil</li>
  </ul>

  <h3>Instructions</h3>
  <ol>
    <li>Chop vegetables.</li>
    <li>Toss with olive oil.</li>
    <li>Serve chilled.</li>
  </ol>
</Layout>